@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <title>WatchMan @ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../../Content/DesignContent/images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Content/DesignContent/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Content/DesignContent/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Content/DesignContent/fonts/themify/themify-icons.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Content/DesignContent/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Content/DesignContent/fonts/elegant-font/html-css/style.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Content/DesignContent/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Content/DesignContent/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Content/DesignContent/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Content/DesignContent/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Content/DesignContent/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Content/DesignContent/vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Content/DesignContent/vendor/lightbox2/css/lightbox.min.css">
    <link href="~/Content/DesignContent/vendor/noui/nouislider.min.css" rel="stylesheet" />
    <!--DataTable =============================================================================-->

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Content/DesignContent/css/util.css">
    <link rel="stylesheet" type="text/css" href="../../Content/DesignContent/css/main.css">
    <style>
        .sticky {
            position: fixed;
            top: 0;
            width: 100%;
        }
        .pagination__controls {
            margin-right: -6px;
            margin-left: 10px;
            position: absolute;
            bottom: 0;
        }
        .pagination li.active {
            background-color: #007bffad;
            color: white;
        }
        .pagination__controls li {
            font-family: Montserrat-Regular;
            font-size: 13px;
            color: #808080;
            width: 36px;
            height: 36px;
            border-radius: 20%;
            border: 1px solid #a5a1a1;
            margin: 6px;
            display: flex;
            justify-content: center;
            -ms-align-items: center;
            align-items: center;
        }
            .pagination__controls li:hover {
                background-color: #007bffad;
                color: white;
            }
            .pagination__controls li .active {
                background-color: #007bffad;
                color: white;
            }

    </style>
    <!--===============================================================================================-->
</head>
<body class="animsition">

    <!-- Header -->
    <header class="header1" >
        <!-- Header desktop -->
        <div class="container-menu-header">


            <div class="wrap_header" id="navbar">
                <!-- Logo -->
                <a href="/" class="logo">
                    <img src="../../Content/DesignContent/images/icons/logo.png" alt="IMG-LOGO">
                </a>

                <!-- Menu -->
                <div class="wrap_menu">
                    <nav class="menu">
                        <ul class="main_menu">
                            <li>
                                <a href="/">Home</a>

                            </li>

                           

                            <li>
                                <a href="/Home/Galary/?key=all">Galary</a>
                            </li>

                            <li>
                                <a href="/Order/Index">Cart</a>
                            </li>

                            <li>
                                <a href="/Home/About">About</a>
                            </li>

                            <li>
                                <a href="/Home/Contact">Contact</a>
                            </li>
                            @if (Request.IsAuthenticated)
                            {

                                if (this.User.IsInRole("Admin"))
                                {
                                    <li>
                                        ADMIN Panal
                                        <ul class="sub_menu">
                                            <li><a href="/Products/Index">Products management</a></li>
                                            <li><a href="/Brands/Index">Brands Management</a></li>
                                        </ul>
                                    </li>
                                }
                            }
                        </ul>
                    </nav>
                </div>

                <!-- Header Icon -->
                <div class="header-icons">
                    @Html.Partial("_LoginPartial")

                    <span class="linedivide1"></span>
                   
                    @if (Request.IsAuthenticated)
                    {
                        @Html.Action("MiniCart", "Home")
                    }
                    
                </div>
            </div>
        </div>

        <!-- Header Mobile -->
        <div class="wrap_header_mobile" ">
            <!-- Logo moblie -->
            <a href="/" class="logo-mobile">
                <img src="../../Content/DesignContent/images/icons/logo.png" alt="IMG-LOGO">
            </a>

            <!-- Button show menu -->
            <div class="btn-show-menu">
                <!-- Header Icon mobile -->
                <div class="header-icons-mobile">
                    @Html.Partial("_LoginPartial")

                    <span class="linedivide2"></span>
                @if (Request.IsAuthenticated)
                {
                    @Html.Action("MiniCart", "Home")
                }
                </div>

                <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </div>
            </div>
        </div>

        <!-- Menu Mobile -->
        <div class="wrap-side-menu">
            <nav class="side-menu">
                <ul class="main-menu">

                    <li class="item-menu-mobile">
                        <a href="/">Home</a>

                    </li>

                    
                    <li  class="item-menu-mobile">
                        <a href="/Home/Galary/?key=all">Galary</a>
                    </li>
                    

                    <li class="item-menu-mobile">
                        <a href="/Order/Index">Cart</a>
                    </li>

                    <li class="item-menu-mobile">
                        <a href="/Home/About">About</a>
                    </li>

                    <li class="item-menu-mobile">
                        <a href="/Home/Contact">Contact</a>
                    </li>
                    @if (Request.IsAuthenticated)
                    {
                        if (this.User.IsInRole("Admin"))
                        {
                            <li class="item-menu-mobile">
                                <a href="#">ADMIN</a>
                            </li>
                        }
                    }

                </ul>
            </nav>
        </div>
    </header>
    <div style="margin-top: 80px"></div>
    @RenderBody()

    <!-- Footer -->
    <footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
        <div class="flex-w p-b-90">
            <div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
                <h4 class="s-text12 p-b-30">
                    GET IN TOUCH
                </h4>

                <div>
                   
                    <div class="flex-m p-t-30">
                        <a href="#" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
                        <a href="#" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
                        <a href="#" class="fs-18 color1 p-r-20 fa fa-pinterest-p"></a>
                        <a href="#" class="fs-18 color1 p-r-20 fa fa-snapchat-ghost"></a>
                        <a href="#" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
                    </div>
                </div>
            </div>

            <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                <h4 class="s-text12 p-b-30">
                    Categories
                </h4>

                <ul>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Brand1
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Brand2
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Brand3
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Brand4
                        </a>
                    </li>
                </ul>
            </div>

            <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                <h4 class="s-text12 p-b-30">
                    Links
                </h4>

                <ul>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Search
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            About Us
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Contact Us
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Returns
                        </a>
                    </li>
                </ul>
            </div>

            <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                <h4 class="s-text12 p-b-30">
                    Help
                </h4>

                <ul>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Track Order
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Returns
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Shipping
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            FAQs
                        </a>
                    </li>
                </ul>
            </div>


        </div>

        <div class="t-center p-l-15 p-r-15">
            <a href="#">
                <img class="h-size2" src="../../Content/DesignContent/images/icons/paypal.png" alt="IMG-PAYPAL">
            </a>

            <a href="#">
                <img class="h-size2" src="../../Content/DesignContent/images/icons/visa.png" alt="IMG-VISA">
            </a>

            <a href="#">
                <img class="h-size2" src="../../Content/DesignContent/images/icons/mastercard.png" alt="IMG-MASTERCARD">
            </a>

            <a href="#">
                <img class="h-size2" src="../../Content/DesignContent/images/icons/express.png" alt="IMG-EXPRESS">
            </a>

            <a href="#">
                <img class="h-size2" src="../../Content/DesignContent/images/icons/discover.png" alt="IMG-DISCOVER">
            </a>

            <div class="t-center s-text8 p-t-20">
                Copyright © 2019 All rights reserved.
            </div>
        </div>
    </footer>



    <!-- Back to top -->
    <div class="btn-back-to-top bg0-hov" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="fa fa-angle-double-up" aria-hidden="true"></i>
        </span>
    </div>

<!-- Container Selection -->
<div id="dropDownSelect1"></div>
<div id="dropDownSelect2"></div>
<div id="dropDownSelect3"></div>


    <!--===============================================================================================-->
<script type="text/javascript" src="../../Content/DesignContent/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="../../Content/DesignContent/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="../../Content/DesignContent/vendor/bootstrap/js/popper.js"></script>
    <script type="text/javascript" src="../../Content/DesignContent/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="../../Content/DesignContent/vendor/select2/select2.min.js"></script>
<script type="text/javascript">
    $(".selection-1").select2({
        minimumResultsForSearch: 20,
        dropdownParent: $('#dropDownSelect1')
    });

    $(".selection-2").select2({
        minimumResultsForSearch: 20,
        dropdownParent: $('#dropDownSelect2')
    });
    $(".selection-3").select2({
        minimumResultsForSearch: 20,
        dropdownParent: $('#dropDownSelect3')
    });
</script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="../../Content/DesignContent/vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="../../Content/DesignContent/js/slick-custom.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="../../Content/DesignContent/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="../../Content/DesignContent/vendor/lightbox2/js/lightbox.min.js"></script>
    <!--DataTable ====================================================================================-->
    <script src="~/Content/DesignContent/vendor/DataTable/Js/jquery.dataTables.min.js"></script>
    <script src="~/Content/DesignContent/vendor/DataTable/Js/dataTables.bootstrap.min.js"></script>
    <!--===============================================================================================-->

    <script type="text/javascript" src="../../Content/DesignContent/vendor/sweetalert/sweetalert.min.js"></script>

    <script type="text/javascript">
        $('.block2-btn-addcart').each(function () {
            var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
            var id = $(this).parent().parent().parent().find('.block2-id').html();
            var authorized = $(this).parent().parent().parent().find('.block2-auth').html();
            if (authorized ==="True") {
                $(this).on('click', function () {
                    swal({
                        title: "Are you sure?",
                        text: "You want to add to cart",
                        icon: "warning",
                        buttons: {
                            cancel: true,
                            confirm: "Add"
                            
                            }
                    }).then(function (isConfirm) {
                        if (isConfirm) {

                            $.ajax({
                                url: '/Order/AddOrder',
                                type: "POST",
                                data: {
                                    id: id
                                },
                                error:function() {
                                    swal("Failed", "Something went wrong", "error");
                                }
                            }).success(function () {
                                swal("Added!", "Your item has been added.", "success");
                                var count = parseInt($('.header-icons-noti').html());
                                count+=1;
                                $('.header-icons-noti').text(count);
                            });

                            
                        } else {
                            swal("Cancelled", "You cancel the item", "error");
                        }
                        });
                       
                    //swal(nameProduct + " and id is " + Id, "is added to cart !", "success");
                });
            } else {
                $(this).on('click', function () {
                   
                    swal({
                        title: "Login",
                        text: "You Must login first ",
                        icon: "info",
                        buttons: {
                            
                            confirm: "Login"
                            
                        }
                        
                        
                    }).then(function (isConfirm) {
                        if (isConfirm) {
                            location.href = "/Account/Login?ReturnUrl=%2FHome%2FGalary%2F?key=all";
                        }
                        
                    });
                    //function () {
                    //    ///Account/Login?ReturnUrl=%2FHome%2FGalary
                    //    //location.href = "/Account/Login?ReturnUrl=%2FHome%2FGalary";
                    //    swal("Deleted!", "Your imaginary file has been deleted.", "success");
                    //});
                });
            }
            
        });


        
        window.onscroll = function() {myFunction()};

        var navbar = document.getElementById("navbar");
        var sticky = navbar.offsetTop;
       

        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky");
            } else {
                navbar.classList.remove("sticky");
            }
        }

       
    </script>

<!--===============================================================================================-->
<script src="~/Content/DesignContent/vendor/noui/nouislider.min.js"></script>

<script src="../../Content/DesignContent/js/main.js"></script>
<script src="~/Content/DesignContent/vendor/jPaginate/src/jQuery.paginate.js"></script>
<script>
  
</script>
    @RenderSection("scripts", required: false)
</body>
</html>
