@model IEnumerable<WatchStore.Models.Products>

@Styles.Render("~/Bundle/sass")
<!-- Title Page -->
<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(/Content/DesignContent/images/master-slide-02.jpg);background-position:center;">
    <h2 class="l-text2 t-center">
        Cart
    </h2>
</section>

<!-- Cart -->

<section class="cart bgwhite p-t-70 p-b-100">
    <div class="container">

        @if (Model.Count() > 0)
        {<!-- Cart item -->
            /**/
            <div id="orders" class="container-table-cart pos-relative">
                <div class="wrap-table-shopping-cart bgwhite">
                    <table class="table-shopping-cart">
                        <tr class="table-head ">
                            <th style="text-align: center;" class="column-1"></th>
                            <th style="text-align: center;" class="column-2">Product</th>
                            <th style="text-align: center;" class="column-3">Price</th>

                        </tr>
                        @{ double total = 0;}
                        @foreach (var item in Model)
                        {
                            <tr class="table-row text-center">
                                <td class="column-1">
                                    <div class="cart-img-product b-rad-4 o-f-hidden">
                                        <img src="@Url.Action("UserPhotos", "Home", new {id = item.ProductId})" alt="IMG-PRODUCT">
                                    </div>
                                </td>
                                <td class="column-2">@item.ProductName</td>
                                <td class="column-3">
                                    @if (item.ProductSale > 0)
                                    {
                                        <span class="block2-oldprice m-text7 p-r-5 ">
                                            $@item.ProductPrice
                                        </span>

                                        <span class="block2-newprice m-text8 p-r-5">

                                            @{
                                                var sale = item.ProductPrice * (item.ProductSale / 100);
                                                var price = item.ProductPrice - sale;
                                                total += price;
                                            }

                                            $<span class="price-item">
                                                @Math.Round(price, 2)
                                            </span>
                                        </span>
                                    }
                                    else
                                    {

                                        <span>&#x24;</span>
                                        <span class="price-item">
                                            @item.ProductPrice
                                        </span>
                                        total += item.ProductPrice;
                                    }
                                </td>

                                <td class="column-4 tools"><i onclick="remove(this,@item.ProductId)" class="fa fa-trash-o"></i></td>
                            </tr>
                        }

                    </table>
                </div>
            </div>

            <div class="row" style="margin: 0px;">




                <!-- Total -->
                <div  id="shipping" style="max-width: 580px;" class="col-md-6 bo9 w-size18 p-l-40 p-r-40 p-t-30 p-b-38 m-t-30 m-r-0 m-l-auto p-lr-15-sm">
                    <h5 class="m-text20 p-b-24">
                        Cart Totals
                    </h5>

                    <!--  -->
                    <div class="flex-w flex-sb-m p-b-12">
                        <span class="s-text18 w-size19 w-full-sm">
                            Subtotal:
                        </span>

                        <span class="m-text21 w-size20 w-full-sm">
                            $<span id="total">
                                @{
                                    @Math.Round(total, 2)
                                }
                            </span>
                        </span>
                    </div>

                    <!--  -->
                    <div class="flex-w flex-sb  p-t-15 p-b-20">
                        <span class="s-text18 w-size19 w-full-sm">
                            Shipping:
                        </span>

                        <div class="w-size20 w-full-sm">
                            <p class="s-text8 p-b-23">
                                There are no shipping methods available. Please double check your address, or contact us if you need any help.
                            </p>

                            <span class="s-text19">
                                Calculate Shipping
                            </span>

                            <div class="rs2-select2 rs3-select2 rs4-select2 bo4 of-hidden w-size21 m-t-8 m-b-12">
                                <select class="selection-2" id="governates" name="country">
                                    <option value="def">Select a country...</option>
                                    <option value="50">القاهرة </option>
                                    <option value="50">الجيزة </option>
                                    <option value="200">المنيا </option>
                                    <option value="100">السويس </option>
                                    <option value="250">الأقصر </option>
                                    <option value="100">الإسكندرية </option>
                                    <option value="100">بورسعيد </option>
                                    <option value="100"> دمياط</option>
                                    <option value="300">أسوان </option>
                                    <option value="70">القليوبية </option>
                                    <option value="80"> بني سويف</option>
                                    <option value="150"> الإسماعيلية </option>
                                    <option value="250">سوهاج </option>
                                    <option value="250"> أسيوط</option>
                                    <option value="200">البحر الأحمر </option>
                                    <option value="100">البحيرة </option>
                                    <option value="100">الدقهلية </option>
                                    <option value="100"> الغربية</option>
                                    <option value="150">الفيوم </option>
                                    <option value="250">قنا </option>
                                    <option value="150">كفر الشيخ </option>
                                    <option value="150"> مطروح</option>
                                    <option value="10"> المنوفية</option>
                                    <option value="100"> الشارقية</option>
                                    <option value="50">حلوان </option>
                                    <option value="400">جنوب سيناء  </option>
                                    <option value="400"> شمال سيناء </option>
                                    <option value="100">السادس من أكتوبر </option>
                                    <option value="250">الوادي الجديد </option>

                                </select>
                            </div>

                            <div class="size13 bo4 m-b-12">
                                <input id="stateContry" class="sizefull s-text7 p-l-15 p-r-15" type="text" name="state" placeholder="State /  country">
                            </div>

                            <div class="size13 bo4 m-b-22">
                                <input id="postcodeZip" class="sizefull s-text7 p-l-15 p-r-15" type="text" name="postcode" placeholder="Postcode / Zip">
                            </div>


                        </div>
                    </div>

                    <!--  -->
                    <div class="flex-w flex-sb-m p-t-26 p-b-30">
                        <span class="m-text22 w-size19 w-full-sm">
                            Total:
                        </span>

                        <span class="m-text21 w-size20 w-full-sm">
                            $<span id="finalTotal">00.00</span>
                        </span>
                    </div>

                    <div class="size15 trans-0-4">
                        <!-- Button -->
                        <button id="ProceedToCheckout" class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4">
                            Proceed to Checkout
                        </button>
                    </div>
                </div>


                <div hidden id="visa" style="max-width: 590px;" class="col-md-6 bo9 w-size18 p-l-40 p-r-40 p-t-30 p-b-38 m-t-30 m-r-0 m-l-auto p-lr-15-sm">
                    <div class="checkout">
                        <div class="credit-card-box">
                            <div class="flip">
                                <div class="front">
                                    <div class="chip"></div>
                                    <div class="logo">
                                        <svg version="1.1" id="visa" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="47.834px" height="47.834px" viewBox="0 0 47.834 47.834" style="enable-background:new 0 0 47.834 47.834;">
                                            <g>
                                                <g>
                                                    <path d="M44.688,16.814h-3.004c-0.933,0-1.627,0.254-2.037,1.184l-5.773,13.074h4.083c0,0,0.666-1.758,0.817-2.143
                         c0.447,0,4.414,0.006,4.979,0.006c0.116,0.498,0.474,2.137,0.474,2.137h3.607L44.688,16.814z M39.893,26.01
                         c0.32-0.819,1.549-3.987,1.549-3.987c-0.021,0.039,0.317-0.825,0.518-1.362l0.262,1.23c0,0,0.745,3.406,0.901,4.119H39.893z
                         M34.146,26.404c-0.028,2.963-2.684,4.875-6.771,4.875c-1.743-0.018-3.422-0.361-4.332-0.76l0.547-3.193l0.501,0.228
                         c1.277,0.532,2.104,0.747,3.661,0.747c1.117,0,2.313-0.438,2.325-1.393c0.007-0.625-0.501-1.07-2.016-1.77
                         c-1.476-0.683-3.43-1.827-3.405-3.876c0.021-2.773,2.729-4.708,6.571-4.708c1.506,0,2.713,0.31,3.483,0.599l-0.526,3.092
                         l-0.351-0.165c-0.716-0.288-1.638-0.566-2.91-0.546c-1.522,0-2.228,0.634-2.228,1.227c-0.008,0.668,0.824,1.108,2.184,1.77
                         C33.126,23.546,34.163,24.783,34.146,26.404z M0,16.962l0.05-0.286h6.028c0.813,0.031,1.468,0.29,1.694,1.159l1.311,6.304
                         C7.795,20.842,4.691,18.099,0,16.962z M17.581,16.812l-6.123,14.239l-4.114,0.007L3.862,19.161
                         c2.503,1.602,4.635,4.144,5.386,5.914l0.406,1.469l3.808-9.729L17.581,16.812L17.581,16.812z M19.153,16.8h3.89L20.61,31.066
                         h-3.888L19.153,16.8z" />
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="number"></div>
                                    <div class="card-holder">
                                        <label>Card holder</label>
                                        <div></div>
                                    </div>
                                    <div class="card-expiration-date">
                                        <label>Expires</label>
                                        <div></div>
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="strip"></div>
                                    <div class="logo">
                                        <svg version="1.1" id="visa" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="47.834px" height="47.834px" viewBox="0 0 47.834 47.834" style="enable-background:new 0 0 47.834 47.834;">
                                            <g>
                                                <g>
                                                    <path d="M44.688,16.814h-3.004c-0.933,0-1.627,0.254-2.037,1.184l-5.773,13.074h4.083c0,0,0.666-1.758,0.817-2.143
                         c0.447,0,4.414,0.006,4.979,0.006c0.116,0.498,0.474,2.137,0.474,2.137h3.607L44.688,16.814z M39.893,26.01
                         c0.32-0.819,1.549-3.987,1.549-3.987c-0.021,0.039,0.317-0.825,0.518-1.362l0.262,1.23c0,0,0.745,3.406,0.901,4.119H39.893z
                         M34.146,26.404c-0.028,2.963-2.684,4.875-6.771,4.875c-1.743-0.018-3.422-0.361-4.332-0.76l0.547-3.193l0.501,0.228
                         c1.277,0.532,2.104,0.747,3.661,0.747c1.117,0,2.313-0.438,2.325-1.393c0.007-0.625-0.501-1.07-2.016-1.77
                         c-1.476-0.683-3.43-1.827-3.405-3.876c0.021-2.773,2.729-4.708,6.571-4.708c1.506,0,2.713,0.31,3.483,0.599l-0.526,3.092
                         l-0.351-0.165c-0.716-0.288-1.638-0.566-2.91-0.546c-1.522,0-2.228,0.634-2.228,1.227c-0.008,0.668,0.824,1.108,2.184,1.77
                         C33.126,23.546,34.163,24.783,34.146,26.404z M0,16.962l0.05-0.286h6.028c0.813,0.031,1.468,0.29,1.694,1.159l1.311,6.304
                         C7.795,20.842,4.691,18.099,0,16.962z M17.581,16.812l-6.123,14.239l-4.114,0.007L3.862,19.161
                         c2.503,1.602,4.635,4.144,5.386,5.914l0.406,1.469l3.808-9.729L17.581,16.812L17.581,16.812z M19.153,16.8h3.89L20.61,31.066
                         h-3.888L19.153,16.8z" />
                                                </g>
                                            </g>
                                        </svg>

                                    </div>
                                    <div class="ccv">
                                        <label>CCV</label>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form class="form" autocomplete="off" novalidate>
                            <fieldset>
                                <label for="card-number">Card Number</label>
                                <input type="num" id="card-number" class="input-cart-number" maxlength="4" />
                                <input type="num" id="card-number-1" class="input-cart-number" maxlength="4" />
                                <input type="num" id="card-number-2" class="input-cart-number" maxlength="4" />
                                <input type="num" id="card-number-3" class="input-cart-number" maxlength="4" />
                            </fieldset>
                            <fieldset>
                                <label for="card-holder">Card holder</label>
                                <input type="text" id="card-holder" />
                            </fieldset>
                            <fieldset class="fieldset-expiration">
                                <label for="card-expiration-month">Expiration date</label>
                                <div >
                                    <select class=" sel" id="card-expiration-month">
                                        <option></option>
                                        <option>01</option>
                                        <option>02</option>
                                        <option>03</option>
                                        <option>04</option>
                                        <option>05</option>
                                        <option>06</option>
                                        <option>07</option>
                                        <option>08</option>
                                        <option>09</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                    </select>
                                </div>
                                <div >
                                    <select class=" sel" id="card-expiration-year">
                                        <option></option>
                                        <option>2019</option>
                                        <option>2020</option>
                                        <option>2021</option>
                                        <option>2022</option>
                                        <option>2023</option>
                                        <option>2024</option>
                                        <option>2025</option>
                                    </select>
                                </div>
                            </fieldset>
                            <fieldset class="fieldset-ccv">
                                <label for="card-ccv">CCV</label>
                                <input type="text" id="card-ccv" maxlength="3" />
                            </fieldset>
                            <button id="sub" class="btn"><i class="fa fa-lock"></i> submit</button>
                        </form>
                    </div>
                </div>

            </div>
        }
        else
        {
            <h1 class="text-center">NO ITEMS TO DISPLAY</h1>
        }
    </div>
</section>

@section scripts
{
    <script>
        $('#ProceedToCheckout').on('click', function () {
            if ($('#governates').find(":selected").val() === 'def') {

                $("#governates").parent().css("border-color", "red");


            } else if (!$('#stateContry').val()) {
                $("#governates").parent().css("border-color", "#e6e6e6");
                $("#stateContry").parent().css("border-color", "red");
            } else if (!$('#postcodeZip').val()) {

                $("#postcodeZip").parent().css("border-color", "red");
                $("#stateContry").parent().css("border-color", "#e6e6e6");
                $("#governates").parent().css("border-color", "#e6e6e6");
            }
            else {
                $("#stateContry").parent().css("border-color", "#e6e6e6");
                $("#governates").parent().css("border-color", "#e6e6e6");
                $("#postcodeZip").parent().css("border-color", "#e6e6e6");
                $('#shipping').attr("hidden", true);
                $('#visa').removeAttr('hidden');
            }

        });
        $('.selection-2').on('change',
            function () {
                if ($(this).find(":selected").val() === 'def') {
                    $('#finalTotal').text('00.00');
                } else {

                    var total = $('#total').text();
                    var finalTotal = parseFloat(total) + parseFloat($(this).find(":selected").val());
                    $('#finalTotal').text(finalTotal);
                }

            });

        function remove(td, id) {

            swal({
                title: "Are you sure?",
                text: "You want to remove from cart",
                icon: "warning",
                buttons: {
                    cancel: true,
                    confirm: "Remove"

                }
            }).then(function (isConfirm) {
                if (isConfirm) {
                    
                    $.ajax({
                        url: '/Order/Remove',
                        type: "POST",
                        data: {
                            id: id
                        },
                        error: function () {
                            swal("Failed", "Something went wrong", "error");
                        },
                        success: function () {
                            swal("Removed!", "Your item has been Removed.", "success");

                            var price = parseFloat($(td).parent().parent().find('.price-item').text());
                            var total = $('#total').text();
                            total -= price;
                            $('#total').text(total);
                            $(td).parent().parent().fadeOut(1000);
                            var count = parseInt($('.header-icons-noti').html());
                            count -= 1;
                            $('.header-icons-noti').text(count);
                        }
                    });


                } else {
                    swal("Cancelled", "You cancel ", "error");
                }
            });

            //swal(nameProduct + " and id is " + Id, "is added to cart !", "success");

        }
        
        $('#sub').on('click', function (event) {
            
        
            if ($('.credit-card-box .number').html().length == 20 && $('.credit-card-box .card-holder div').html().length > 2 && $('.card-expiration-date div').html().length >= 5 && $('.ccv div').html().length == 3 ) {
               
                $.ajax({
                    url: '/Order/Remove',
                    type: "POST",
                    data: {
                        id: 'all'
                    },
                    error: function () {
                        swal("Failed", "Something went wrong", "error");
                    },
                    success: function () {
                        $('#orders').fadeOut(1000);
                        swal("Buy Completed", "Your item in his way.", "success");

                       
                       
                        $('#total').text('00.00');
                       
                       
                        $('.header-icons-noti').text('0');
                    }
                });
            } 
            event.preventDefault();
        });

        $('.input-cart-number').on('keyup change', function () {
            $t = $(this);

            if ($t.val().length > 3) {
                $t.next().focus();
            }

            var card_number = '';
            $('.input-cart-number').each(function () {
                card_number += $(this).val() + ' ';
                if ($(this).val().length == 4) {
                    $(this).next().focus();
                }
            })

            $('.credit-card-box .number').html(card_number);
        });

        $('#card-holder').on('keyup change', function () {
            $t = $(this);
            $('.credit-card-box .card-holder div').html($t.val());
        });

        $('#card-holder').on('keyup change', function () {
            $t = $(this);
            $('.credit-card-box .card-holder div').html($t.val());
        });

        $('#card-expiration-month, #card-expiration-year').change(function () {
            m = $('#card-expiration-month option').index($('#card-expiration-month option:selected'));
            m = (m < 10) ? '0' + m : m;
            y = $('#card-expiration-year').val().substr(2, 2);
            $('.card-expiration-date div').html(m + '/' + y);
        })

        $('#card-ccv').on('focus', function () {
            $('.credit-card-box').addClass('hover');
        }).on('blur', function () {
            $('.credit-card-box').removeClass('hover');
        }).on('keyup change', function () {
            $('.ccv div').html($(this).val());
        });

/*function getCreditCardType(accountNumber) {
          if (/^5[1-5]/.test(accountNumber)) {
            result = 'mastercard';
          } else if (/^4/.test(accountNumber)) {
            result = 'visa';
          } else if ( /^(5018|5020|5038|6304|6759|676[1-3])/.test(accountNumber)) {
            result = 'maestro';
          } else {
            result = 'unknown'
          }
          return result;
}

$('#card-number').change(function(){
          console.log(getCreditCardType($(this).val()));
})*/
    </script>
}

