@model IEnumerable<WatchStore.Models.Products>
@*<div style="margin-top: 80px"></div>*@
<!-- Title Page -->
<section class="bg-title-page p-t-50 p-b-40 flex-col-c-m" style="background-image: url(/Content/DesignContent/images/master-slide-02.jpg);background-position:center;">
    <h2 class="l-text2 t-center ">
        Watches

    </h2>
    <p class="m-text13 t-center">
        New Arrivals Watches Collection 2019
    </p>
</section>


<!-- Content page -->
<section class="bgwhite p-t-55 p-b-65">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                <div class="leftbar p-r-20 p-r-0-sm">

                    <div class="m-text15 p-b-17">
                        Search
                    </div>
                    <div class="search-product pos-relative bo4 of-hidden">
                        @using (Ajax.BeginForm("Search", "Home",
                            new AjaxOptions
                            {
                                InsertionMode = InsertionMode.Replace,
                                HttpMethod = "GET",
                                OnFailure = "searchFailed",
                                LoadingElementId = "ajax-loader",
                                UpdateTargetId = "SearchResult",
                            }))
                        {
                            <input class="s-text7 size6 p-l-23 p-r-50" type="text" name="searchProduct" placeholder="Search Products...">

                            <button type="submit" class="flex-c-m size5 ab-r-m color2 color0-hov trans-0-4">
                                <i class="fs-12 fa fa-search" aria-hidden="true"></i>
                            </button>
                        }
                    </div>

                    <!--  -->


                    <div class="filter-price p-t-22 p-b-50 ">
                        <div class="m-text15 p-b-17">
                            Price
                        </div>

                        <div class="wra-filter-bar">
                            <div id="filter-bar"></div>
                        </div>

                        <div class="flex-sb-m flex-w p-t-16">
                            
                            <div class="w-size11">
                                @using (Ajax.BeginForm("Filter", "Home",
                                    new AjaxOptions
                                    {
                                        InsertionMode = InsertionMode.Replace,
                                        HttpMethod = "GET",
                                        OnFailure = "searchFailed",
                                        LoadingElementId = "ajax-loader",
                                        UpdateTargetId = "SearchResult",
                                    }))
                                {
                                    <input type="hidden" name="hidLower" id="hidLower" value="1" />
                                    <input type="hidden" name="hidUpper" id="hidUpper" value="2" />
                                    <!-- Button -->
                                    <button id="filterButton" class="flex-c-m size4 bg7 bo-rad-15 hov1 s-text14 trans-0-4">
                                        Filter
                                    </button>
                                }
                            </div>

                            <div class="s-text3 p-t-10 p-b-10">
                                Range: $<span id="value-lower"></span> - $<span id="value-upper"></span>
                            </div>
                        </div>
                    </div>




                </div>
            </div>

            <div class="col-sm-6 col-md-8 col-lg-9 p-b-50">
                <!--  -->
                <div class="flex-sb-m flex-w p-b-35" style="margin-top: -53px;margin-left: -15px;">
                    @*<div class="flex-w">
                        <div class="rs2-select2 bo4 of-hidden w-size12 m-t-5 m-b-5 m-r-10">
                            <select class="selection-2" name="sorting">
                                <option>Default Sorting</option>
                                <option>Name</option>
                                <option>Price: low to high</option>
                                <option>Price: high to low</option>
                            </select>
                        </div>


                    </div>*@


                </div>

                <!-- Product -->
                <div class="row" id="SearchResult">
                    <div style="    margin-right: auto;margin-left: auto;" id="pagination-1" class="row pagination__list">
                        @foreach (var item in Model)
                        {
                            if (item.ProductSale > 0)
                            {
                                <div class="col-sm-12 col-md-6 col-lg-4 p-b-50 pagination__item">
                                    <!-- Block2 -->
                                    <div class="block2 border" style="padding: 10px;min-width: 200px;">
                                        <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale">

                                            <img class="imaProduct" style="height: 200px;width: 100%;display: block;margin: auto;" src="@Url.Action("UserPhotos", "Home", new {id = item.ProductId})" alt="IMG-PRODUCT">


                                            <div class="block2-overlay trans-0-4">

                                                 <a href="/Home/ProductDetail/@item.ProductId"><i class="fa fa-info-circle" style="float: right;margin: 10px;font-size: xx-large;"></i></a>
                                                <div class="block2-btn-addcart w-size1 trans-0-4">
                                                    <!-- Button -->
                                                    <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                                                        Add to Cart
                                                    </button>

                                                </div>

                                            </div>

                                        </div>

                                        <div class="block2-txt p-t-20">
                                            <a href="#" class=" dis-block s-text3 p-b-5">
                                                <b class="font-weight-bold ">@item.Brand.Name</b>
                                                <span class="block2-name">@item.ProductName</span>
                                                <span class="block2-id" hidden="">@item.ProductId</span>
                                                <span class="block2-auth" hidden="">@Request.IsAuthenticated</span>
                                            </a>


                                            <span class="block2-oldprice m-text7 p-r-5">
                                                $@item.ProductPrice
                                            </span>

                                            <span class="block2-newprice m-text8 p-r-5">
                                                @{
                                                    var sale = item.ProductPrice * (item.ProductSale / 100);
                                                    var price = item.ProductPrice - sale;
                                                }
                                                $@Math.Round(price, 2)
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-sm-12 col-md-6 col-lg-4 p-b-50 pagination__item">
                                    <!-- Block2 -->
                                    <div class="block2 border" style="padding: 10px;min-width: 200px;">
                                        <div class="block2-img wrap-pic-w of-hidden pos-relative">

                                            <img class="imaProduct" style="height: 200px;width: 100%;display: block;margin: auto;" src="@Url.Action("UserPhotos", "Home", new {id = item.ProductId})" alt="IMG-PRODUCT">

                                            <div class="block2-overlay trans-0-4">
                                                <a href="/Home/ProductDetail/@item.ProductId"><i class="fa fa-info-circle" style="float: right;margin: 10px;font-size: xx-large;"></i></a>

                                                <div class="block2-btn-addcart w-size1 trans-0-4">
                                                    <!-- Button -->
                                                    <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                                                        Add to Cart
                                                    </button>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="block2-txt p-t-20">
                                            <a href="#" class=" dis-block s-text3 p-b-5">
                                                <b class="font-weight-bold ">@item.Brand.Name</b>
                                                <span class="block2-name">@item.ProductName</span>
                                                <span class="block2-id" hidden="">@item.ProductId</span>
                                                <span class="block2-auth" hidden="">@Request.IsAuthenticated</span>
                                            </a>

                                            <span class="block2-price m-text6 p-r-5">
                                                $@item.ProductPrice
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            }



                        }



                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

@section scripts
   {

    <script src="~/Content/DesignContent/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Content/DesignContent/vendor/daterangepicker/daterangepicker.js"></script>

    <script src="~/Content/DesignContent/vendor/jquery/jquery.min.js"></script>

    <script src="~/Content/DesignContent/vendor/jPaginate/src/jQuery.paginate.js"></script>

    <script>
        $('#pagination-1').paginate({
            items_per_page: 3,
            prev_next: false
        });
        $( "#searchresults" ).load( function() {
            alert("done");
        });
        $('#pagination-2').paginate({
            items_per_page: 3,
            prev_next: false
        });
        function searchFailed() {
            $("#searchresults").html("Sorry, there was a problem with the search.");
        }

        function cartClick(obj) {
            //alert(obj);
            var nameProduct = $(obj).parent().parent().parent().parent().find('.block2-name').html();
            var id = $(obj).parent().parent().parent().parent().find('.block2-id').html();
            var authorized = $(obj).parent().parent().parent().parent().find('.block2-auth').html();
            if (authorized === "True") {

                swal({
                    title: "Are you sure?",
                    text: "You want to add to cart",
                    icon: "warning",
                    buttons: {
                        cancel: true,
                        confirm: "Add"

                    }
                }).then(function (isConfirm) {
                    if (isConfirm) {

                        $.ajax({
                            url: '/Order/AddOrder',
                            type: "POST",
                            data: {
                                id: id
                            },
                            error: function () {
                                swal("Failed", "Something went wrong", "error");
                            }
                        }).success(function () {
                            swal("Added!", "Your item has been added.", "success");
                            var count = parseInt($('.header-icons-noti').html());
                            count += 1;
                            $('.header-icons-noti').text(count);
                        });


                    } else {
                        swal("Cancelled", "You cancel the item", "error");
                    }
                });

                //swal(nameProduct + " and id is " + Id, "is added to cart !", "success");

            } else {


                swal({
                    title: "Login",
                    text: "You Must login first ",
                    icon: "info",
                    buttons: {

                        confirm: "Login"

                    }


                }).then(function (isConfirm) {
                    if (isConfirm) {
                        location.href = "/Account/Login?ReturnUrl=%2FHome%2FGalary%2F?key=all";
                    }

                });
                //function () {
                //    ///Account/Login?ReturnUrl=%2FHome%2FGalary
                //    //location.href = "/Account/Login?ReturnUrl=%2FHome%2FGalary";
                //    swal("Deleted!", "Your imaginary file has been deleted.", "success");
                //});

            }

        }
        var filterBar = document.getElementById('filter-bar');

        noUiSlider.create(filterBar, {
            start: [5, 2000],
            connect: true,
            range: {
                'min': 5,
                'max': 2000
            }
        });

        var skipValues = [
            document.getElementById('value-lower'),
            document.getElementById('value-upper')
        ];

        filterBar.noUiSlider.on('update', function (values, handle) {
            skipValues[handle].innerHTML = Math.round(values[handle]);
        });
        $('#filterButton').on('click', function () {
            var lower = parseInt(document.getElementById('value-lower').innerHTML);
            var upper = parseInt(document.getElementById('value-upper').innerHTML);
            $('#hidLower').val(lower);
            $('#hidUpper').val(upper);
            $('#filterButton').submit();


        });
    </script>
    
}


