@model IEnumerable<WatchStore.Models.Products>
<!-- Slide1 -->
<section class="slick1">
    <div class="wrap-slick1">
        <div style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;" class="slick1">
            <div class="item-slick1 item1-slick1" style="background-image: url(../../Content/DesignContent/images/slider4.jpg);">
                <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">

                    <h2 style="text-shadow: 5px -6px 0px #010101, 0 1px black, 1px 0 black, 0 -1px black;" class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
                        Watches Collections 2019
                    </h2>

                    <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="zoomIn">
                        <!-- Button -->
                        <a href="/Home/Galary/?key=all" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
                            Shop Now
                        </a>
                    </div>
                </div>
            </div>

            <div class="item-slick1 item2-slick1" style="background-image: url(../../Content/DesignContent/images/master-slide-03.jpg);">
                <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
                   

                    <h2 style="text-shadow: 5px -6px 0px #010101, 0 1px black, 1px 0 black, 0 -1px black;" class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
                        Watches Collections 2019
                    </h2>

                    <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="slideInUp">
                        <!-- Button -->
                        <a href="/Home/Galary/?key=all" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
                            Shop Now
                        </a>
                    </div>
                </div>
            </div>

            <div class="item-slick1 item3-slick1" style="background-image: url(../../Content/DesignContent/images/master-slide-04.jpg);">
                <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
                    

                    <h2 style="text-shadow: 5px -6px 0px #010101, 0 1px black, 1px 0 black, 0 -1px black;" class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
                        Watches Collections 2019
                    </h2>

                    <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="rotateIn">
                        <!-- Button -->
                        <a href="/Home/Galary/?key=all" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
                            Shop Now
                        </a>
                    </div>
                </div>
            </div>

            <div class="item-slick1 item4-slick1" style="background-image: url(../../Content/DesignContent/images/slider5.jpg);">
                <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
                    

                    <h2 style="text-shadow: 5px -6px 0px #010101, 0 1px black, 1px 0 black, 0 -1px black;" class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
                        Watches Collections 2019
                    </h2>

                    <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="rotateIn">
                        <!-- Button -->
                        <a href="/Home/Galary/?key=all" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
                            Shop Now
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Banner -->
<section class="banner bgwhite p-t-40 p-b-40">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
                <!-- block1 -->
                <div class="block1 hov-img-zoom pos-relative m-b-30">
                   
                    <img src="~/Content/Img/Boss.png" alt="IMG-BENNER">

                    <div class="block1-wrapbtn w-size2 ">
                        <!-- Button -->
                        <a href="/Home/Galary/?key=Boss" class="flex-c-m size2  btn btn-primary  trans-0-4">
                            BOSS
                        </a>
                    </div>
                </div>

                <!-- block1 -->
                <div class="block1 hov-img-zoom pos-relative m-b-30">
                    <img src="~/Content/Img/matrix.png" alt="IMG-BENNER"/>
                    <div class="block1-wrapbtn w-size2">
                        <!-- Button -->
                        <a href="/Home/Galary/?key=Matrix"class="flex-c-m size2  btn btn-primary  trans-0-4">
                            MATRIX
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
                <!-- block1 -->
                <div class="block1 hov-img-zoom pos-relative m-b-30">
                    <img src="~/Content/Img/samsung.png" alt="IMG-BENNER"/>
                    <div class="block1-wrapbtn w-size2">
                        <!-- Button -->
                        <a href="/Home/Galary/?key=Samsung" class="flex-c-m size2  btn btn-primary  trans-0-4">
                            SAMSUNG
                        </a>
                    </div>
                </div>

                <!-- block1 -->
                <div class="block1 hov-img-zoom pos-relative m-b-30">
                    <img src="~/Content/Img/rolex.png" alt="IMG-BENNER"/>
                    <div class="block1-wrapbtn w-size2">
                        <!-- Button -->
                        <a href="/Home/Galary/?key=Rolex" class="flex-c-m size2  btn btn-primary  trans-0-4">
                            ROLEX
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
                <!-- block1 -->
                <div class="block1 hov-img-zoom pos-relative m-b-30">
                    <img src="~/Content/Img/sico.png" alt="IMG-BENNER">

                    <div class="block1-wrapbtn w-size2">
                        <!-- Button -->
                        <a href="/Home/Galary/?key=Sico" class="flex-c-m size2  btn btn-primary  trans-0-4">
                            SICO
                        </a>
                    </div>
                </div>

                <!-- block2 -->
                <div class="block1 hov-img-zoom pos-relative m-b-30">
                    <img src="~/Content/Img/cartier.png" alt="IMG-BENNER"/>
                    <div class="block1-wrapbtn w-size2">
                        <!-- Button -->
                        <a href="/Home/Galary/?key=Cartiar" class="flex-c-m size2  btn btn-primary  trans-0-4">
                            CARTIAR
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- New Product -->
<section class="newproduct bgwhite p-t-45 ">
    <div class="container">
        <div class="sec-title p-b-60">
            <h3 class="m-text5 t-center">
                Featured Products
            </h3>
        </div>

        <!-- Slide2 -->
        <div class="wrap-slick2">
            <div class="slick2">

                @foreach (var item in Model)
                {
                    if (item.ProductSale > 0)
                    {
                        <div class="col-sm-12 col-md-6 col-lg-4 p-b-50 pagination__item">
                            <!-- Block2 -->
                            <div class="block2 border" style="padding: 10px;min-width: 200px;">
                                <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale hov-img-zoom">

                                    <img class="imaProduct" style="height: 200px;width: auto;display: block;margin: auto;" src="@Url.Action("UserPhotos", "Home", new {id = item.ProductId})" alt="IMG-PRODUCT">


                                    <div class="block2-overlay trans-0-4">

                                        <a href="/Home/ProductDetail/@item.ProductId"><i class="fa fa-info-circle" style="float: right;margin: 10px;font-size: xx-large;"></i></a>
                                        <div class="block2-btn-addcart w-size1 trans-0-4">
                                            <!-- Button -->
                                            <button onclick="cartClick(this)"  class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                                                Add to Cart
                                            </button>

                                        </div>

                                    </div>

                                </div>

                                <div class="block2-txt p-t-20">
                                    <a href="#" class=" dis-block s-text3 p-b-5">
                                        <b class="font-weight-bold ">@item.Brand.Name</b>
                                        <span class="block2-name">@item.ProductName</span>
                                        <span class="block2-id" hidden="">@item.ProductId</span>
                                        <span class="block2-auth" hidden="">@Request.IsAuthenticated</span>
                                    </a>


                                    <span class="block2-oldprice m-text7 p-r-5">
                                        $@item.ProductPrice
                                    </span>

                                    <span class="block2-newprice m-text8 p-r-5">
                                        @{
                                            var sale = item.ProductPrice * (item.ProductSale / 100);
                                            var price = item.ProductPrice - sale;
                                        }
                                        $@Math.Round(price, 2)
                                    </span>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-12 col-md-6 col-lg-4 p-b-50 pagination__item">
                            <!-- Block2 -->
                            <div class="block2 border" style="padding: 10px;min-width: 200px;">
                                <div class="block2-img wrap-pic-w of-hidden pos-relative hov-img-zoom">

                                    <img class="imaProduct" style="height: 200px;width: auto;display: block;margin: auto;" src="@Url.Action("UserPhotos", "Home", new {id = item.ProductId})" alt="IMG-PRODUCT">

                                    <div class="block2-overlay trans-0-4">
                                        <a href="/Home/ProductDetail/@item.ProductId"><i class="fa fa-info-circle" style="float: right;margin: 10px;font-size: xx-large;"></i></a>

                                        <div class="block2-btn-addcart w-size1 trans-0-4">
                                            <!-- Button -->
                                            <button onclick="cartClick(this)"  class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                                                Add to Cart
                                            </button>
                                        </div>
                                    </div>

                                </div>

                                <div class="block2-txt p-t-20">
                                    <a href="#" class=" dis-block s-text3 p-b-5">
                                        <b class="font-weight-bold ">@item.Brand.Name</b>
                                        <span class="block2-name">@item.ProductName</span>
                                        <span class="block2-id" hidden="">@item.ProductId</span>
                                        <span class="block2-auth" hidden="">@Request.IsAuthenticated</span>
                                    </a>

                                    <span class="block2-price m-text6 p-r-5">
                                        $@item.ProductPrice
                                    </span>
                                </div>
                            </div>
                        </div>
                    }



                }


            </div>
        </div>

    </div>
</section>





<!-- Shipping -->
<section class="shipping bgwhite  p-b-46">
    <div class="flex-w p-l-15 p-r-15">
        <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
            <h4 class="m-text12 t-center">
               Warranty
            </h4>
            <span class="s-text11 t-center">
                Products Have Two Years Full Warranty
            </span>
            
        </div>

        <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 bo2 respon2">
            <h4 class="m-text12 t-center">
                30 Days Return
            </h4>

            <span class="s-text11 t-center">
                Simply return it within 30 days for an exchange.
            </span>
        </div>

        <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
            <h4 class="m-text12 t-center">
                Store Opening
            </h4>

            <span class="s-text11 t-center">
                Shop open from Sunday to Thursday
            </span>
        </div>
    </div>
</section>

@section scripts
{
    <script src="~/Content/DesignContent/vendor/jquery/jquery.min.js"></script>

    <script>
        function cartClick(obj) {
            //alert(obj);
            var nameProduct = $(obj).parent().parent().parent().parent().find('.block2-name').html();
            var id = $(obj).parent().parent().parent().parent().find('.block2-id').html();
            var authorized = $(obj).parent().parent().parent().parent().find('.block2-auth').html();
            if (authorized === "True") {

                swal({
                    title: "Are you sure?",
                    text: "You want to add to cart",
                    icon: "warning",
                    buttons: {
                        cancel: true,
                        confirm: "Add"

                    }
                }).then(function (isConfirm) {
                    if (isConfirm) {

                        $.ajax({
                            url: '/Order/AddOrder',
                            type: "POST",
                            data: {
                                id: id
                            },
                            error: function () {
                                swal("Failed", "Something went wrong", "error");
                            }
                        }).success(function () {
                            swal("Added!", "Your item has been added.", "success");
                            var count = parseInt($('.header-icons-noti').html());
                            count += 1;
                            $('.header-icons-noti').text(count);
                        });


                    } else {
                        swal("Cancelled", "You cancel the item", "error");
                    }
                });

                //swal(nameProduct + " and id is " + Id, "is added to cart !", "success");

            } else {


                swal({
                    title: "Login",
                    text: "You Must login first ",
                    icon: "info",
                    buttons: {

                        confirm: "Login"

                    }


                }).then(function (isConfirm) {
                    if (isConfirm) {
                        location.href = "/Account/Login?ReturnUrl=%2FHome%2FGalary%2F?key=all";
                    }

                });
                //function () {
                //    ///Account/Login?ReturnUrl=%2FHome%2FGalary
                //    //location.href = "/Account/Login?ReturnUrl=%2FHome%2FGalary";
                //    swal("Deleted!", "Your imaginary file has been deleted.", "success");
                //});

            }

        }
    </script>

}
