@model WatchStore.Models.Products

<!-- Product Detail -->
<div class="container bgwhite p-t-35 p-b-80">
    <div class="flex-w flex-sb">
        <div class="w-size13 p-t-30 respon5">
            <div class="wrap-slick3 flex-sb flex-w">
                

                <div class="slick3">
                    <div class="item-slick3" data-thumb="@Url.Action("UserPhotos", "Home", new {id = Model.ProductId})">
                        <div class="wrap-pic-w hov-img-zoom">
                            <img style="    max-width: 200px;float: right;" src="@Url.Action("UserPhotos", "Home", new {id = Model.ProductId})" alt="IMG-PRODUCT">
                        </div>
                    </div>

                   
                </div>
            </div>
        </div>

        <div class="w-size14 p-t-30 respon5">
            <h4 class="product-detail-name m-text16 p-b-13">
                @Model.ProductName
            </h4>
            @if (Model.ProductSale > 0)
            {
                <span class="block2-oldprice m-text7 p-r-5">
                    $@Model.ProductPrice
                </span>

                <span class="block2-newprice m-text8 p-r-5">
                    @{
                        var sale = Model.ProductPrice * (Model.ProductSale / 100);
                        var price = Model.ProductPrice - sale;
                    }
                    $@Math.Round(price, 2)
                </span>
            }
            else
            {
                <span class="m-text17">
                    $@Model.ProductPrice
                </span>
            }
            

            <p class="m-text12 p-t-10">
                @Model.ProductDescription
            </p>
            <div class="p-b-45">
                <span class="s-text8 m-r-35 font-weight-bold">Add at: @Model.ProductDate</span>
                <span class="s-text8 font-weight-bold">Categories: @ViewBag.BrandName</span>

            </div>
            <!--  -->
            <div class="p-t-33 p-b-60">

                <div class="flex-r-m flex-w p-t-10">
                    <div class="w-size16 flex-m flex-w">


                        <div class="btn-addcart-product-detail size9 trans-0-4 m-t-10 m-b-10">
                            <!-- Button -->
                            <button onclick="cartClick(this)" class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4">
                                Add to Cart
                            </button>
                            <span class="block2-id" hidden="">@Model.ProductId</span>
                            <span class="block2-auth" hidden="">@Request.IsAuthenticated</span>
                        </div>
                    </div>
                </div>
            </div>



            <!--  -->





        </div>
    </div>
</div>


@section scripts
{
    <script src="~/Content/DesignContent/vendor/jquery/jquery.min.js"></script>
    <script>
         function cartClick(obj) {
            //alert(obj);
            
            var id = $(obj).parent().find('.block2-id').html();
            var authorized = $(obj).parent().find('.block2-auth').html();
            if (authorized === "True") {

                swal({
                    title: "Are you sure?",
                    text: "You want to add to cart",
                    icon: "warning",
                    buttons: {
                        cancel: true,
                        confirm: "Add"

                    }
                }).then(function (isConfirm) {
                    if (isConfirm) {

                        $.ajax({
                            url: '/Order/AddOrder',
                            type: "POST",
                            data: {
                                id: id
                            },
                            error: function () {
                                swal("Failed", "Something went wrong", "error");
                            }
                        }).success(function () {
                            swal("Added!", "Your item has been added.", "success");
                            var count = parseInt($('.header-icons-noti').html());
                            count += 1;
                            $('.header-icons-noti').text(count);
                        });


                    } else {
                        swal("Cancelled", "You cancel the item", "error");
                    }
                });

                //swal(nameProduct + " and id is " + Id, "is added to cart !", "success");

            } else {


                swal({
                    title: "Login",
                    text: "You Must login first ",
                    icon: "info",
                    buttons: {

                        confirm: "Login"

                    }


                }).then(function (isConfirm) {
                    if (isConfirm) {
                        location.href = "/Account/Login?ReturnUrl=%2FHome%2FProductDetail%2F"+id;
                    }

                });
                

            }

        }
    </script>
}
